.login {
    margin: 5%;
}

h2.login {
    margin-top: 150px;
    margin-bottom: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px auto;
    padding: 20px;
    background: white;
}

.login-form label {
    margin-bottom: 10px;
    background: white;
}

.login-form--input-pass {
    position: relative;
    display: flex;
    background-color: white;
}


.login-form input {
    width: 100%;
    height: 40px;
    padding: 15px 10px;
    border-right: 1px solid #27a4a9;
    border-radius: 5px;
}


.div-icon-faEye {
    position: absolute;
    height: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-45%);
    background-color: transparent;
}

.div-email-input {
    background-color: transparent;
}

.icon-faEye, .faEyeSlash {
    color: #3088ce;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}

.login-form button,
.register-link  {
    width: 45%;
    height: 40px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #63AFB2;
    color: #63AFB2;
    text-decoration: none;
}

.login-form button:hover {
    color: white;
}

.register-link:hover {
    color: white;
    background-color: #63AFB2;
}

.login-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    background: white;
}

.login-submit a {
    background: white;
    height: 100%;
    text-align: center;
}

@media (max-width: 877px) {
    .login-form {
        width: 60%;
    }

    h2.login {
        margin-top: 100px;
    }
}

@media (max-width: 590px) {
    .login-form {
        width: 70%;
    }
}

@media (max-width: 505px) {
    .login-form {
        width: 80%;
    }
}

@media (max-width: 444px) {
    .login-form {
        width: 95%;
    }

    .login-submit {
        flex-direction: column;
    }

    .login-form button,
    .register-link  {
        width: 100%;
        margin-bottom: 10px;
    }

}