.input-date {
    width: 150px;
    height: 30px;
    border: 1px solid #63AFB2;
    color: #63AFB2;
    cursor: pointer;
}

.sent-table {
    cursor: default;
}

.list-sent-sms {
    margin: 0 auto 20px auto;
    width: 80%;
}