
.input-message {
    position: fixed;
    left: 20%;
    bottom: 20px;
    width: 50%;
}

.wrapper-input-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
}

.input-message input {
    height: 30px;
}

.input-message button {
    height: 30px;
}

.messages-page {
    width: 70%;
    margin: 0 auto 100px auto;
}

.message-chat-inside {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #63AFB2;
    background: white;
    border-radius: 10px;
}

.message-chat-outside {
    width: 80%;
    padding: 10px;
    margin: 10px 0 10px 100px;
    border: 2px solid #63AFB2;
    background: #63AFB2;
    border-radius: 10px;
}

.message-chat--paragraf {
    font-size: 12px;
    font-weight: bold;
    background: white;
    margin-bottom: 2px;
}

.message-chat--user-inside {
    font-size: 13px;
    color: #63AFB2;
    background: white;
}

.message-chat--user-outside {
    font-size: 13px;
    background: #63AFB2;
}

.message-chat--time-inside,
.message-chat--time-inside > p {
    display: flex;
    justify-content: space-between;
    color: #63AFB2;
    background: white;
}

.message-chat--time-outside, .message-chat--time-outside > p {
    display: flex;
    justify-content: space-between;
    background: #63AFB2;
}

.message--time-inside {
    font-size: 13px;
}

.message--time-outside {
    font-size: 13px;
}
@media(max-width: 720px) {
    .messages-page {
        width: 80%;
    }

    .message-chat-inside,
    .message-chat-outside{
        width: 80%;
    }

    .message-chat-outside {
        margin-left: 50px;
    }
}

@media(max-width: 600px) {
    .messages-page {
        width: 90%;
    }

    .message-chat-outside {
        margin-left: 20px;
    }

    .message-chat-inside,
    .message-chat-outside{
        width: 90%;
    }

    .input-message {
        width: 70%;
    }
    .input-message button {
        width: 30%;
    }
    .input-message input {
        width: 70%;
    }
}