.register {
    margin: 5%;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px auto;
    padding: 20px;
    background: white;
}

.register-form label {
    margin-bottom: 10px;
    background: white;
}

.register-form input {
    width: 100%;
    height: 30px;
    border-right: 1px solid #27a4a9;
}

.register-form button {
    margin-top: 20px;
    height: 30px;
    width: 100%;
}

@media (max-width: 766px) {
    .register-form {
        width: 60%;
    }
}

@media (max-width: 424px) {
    .register-form {
        width: 70%;
    }
}

@media (max-width: 365px) {
    .register-form {
        width: 80%;
    }
}

@media (max-width: 310px) {
    .register-form {
        width: 95%;
    }
}