.header {
    height: 50px;
    border-bottom: 1px solid #80CFA9;
}

.nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    /*color: #71bef5;*/
    color: #345DE0;
    margin-left: 20px;
    text-decoration: none;
}

a.todo {
    color: black;
    padding: 5px;
    text-decoration: none;
    margin: 10px 5px 10px 20px;
}

.todo:hover {
    font-weight: bold;
    border-bottom: 1px solid #80CFA9;
}

a.chat {
    color: black;
    padding: 5px;
    text-decoration: none;
    margin: 10px 5px;
}

.active {
    font-weight: bold;
}

.chat:hover {
    font-weight: bold;
    border-bottom: 1px solid #80CFA9;
}

.user {
    position: absolute;
    top: 15px;
    right: 15px;
}

.user .svg-inline--fa {
    margin-left: 5px;
}

.user button {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}



