.shop-wrapper {
    /*height: 300px;*/
    width: 100%;
    background-color: #000;
    padding: 0 40px;
    color: white;
}

.shop-wrapper h2 {
    margin: 0;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}

.shop-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.shop-nav-sec1 {
    display: inline-block;
}

.shop-nav-sec2 {
    display: inline-block;
}

.shop-nav li {
    display: inline-block;
    padding: 40px 30px;
    /*text-transform: uppercase;*/
}

.shop-nav a {
    text-decoration: none;
    color: white;
}

.shop-nav li:hover a{
    color: #63AFB2;
}

.category-and-section-shop {
    display: flex;
    justify-content: center;
}

/*.category-and-section-shop .category {*/
/*    width: 30%;*/
/*}*/

.category-and-section-shop .section-shop {
    width: 70%;
}