.addNumberToSend {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
}

.addNumberToSend--paragraf {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 30px;
}

.addNumberToSend--checkbox {
    width: 20px;
    margin: 0;
}