.wrapper {
    height: 50px;
}

.add-task {
    height: 100%;
    width: 60%;
    margin: 10px auto;
}

input:focus {
    outline-color : #80CFA9;
}


@Media (max-width: 600px){
    .add-task {
        width: 85%;
        margin: 0 auto;
    }

}


