.footer-wrapper {
    height: 430px;
    width: 100%;
    background-color: #42474A;
}

.footer-wrapper-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
}

.footer-wrapper-data-text {
    margin: 40px;
    width: 300px;
    line-height: 30px;
    color: white;
    border-bottom: 1px solid #42474A;
}

.footer-wrapper-data-text h4 {
    font-size: 1.5em;
    color: white;
}

.footer-wrapper-data-text p,
.footer-wrapper-data-text a {
    color: #938b82;
    margin: 15px 0;
    text-decoration: none;
}

.footer-wrapper-data-text a:hover {
    color: #63AFB2;
}

.footer-wrapper-data-copyright {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
    border-top: 1px solid #69635c;
}

.footer-wrapper-data-copyright p {
    padding: 20px;
    color: #938b82;
}